.header {
  max-width: 880px;
  margin: 45px auto 0;
  padding-bottom: 37px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 100%;
    margin: 28px auto 0;
    padding-bottom: 30px;
  }
}