.footer__text{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: calc(22/18);
	color: #545454;
	max-width: 318px;
	margin-left: 180px;
	margin: 0;

}

@media screen and (max-width: 1023px){
	.footer__text{
		font-size: 14px;
		line-height: calc(17/14);
	}
}